<div class="jumbotron">
	<p dir="rtl" lang="ar" >هذا البرنامج هو احد برامج مؤسسة بناء الانسان و التنميه و يهدف الى الارتقاء بمستوى الخدمه التى يحصل عليها المواطن من اعمال تركيبات اوصيانه منزليه لاعمال السباكه والكهرباء من خلال رفع الكفاءه و تأصيل عمل الحرفيين . بدايتا بتدريب تقنى من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه يتبعه تدريب على القدره الاداريه و مهارات التعامل مع العملاء من خلال مؤسسة البناء الانسانى و التنميه ثم نقوم بتحديث هذا الموقع طبقا لاداء العامل من خلال استماره يقوم تقديمها العامل للعميل عند انجاز العمل لتقييم العمل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل على هذا الموقع لضمان استمراريه مستوى الجوده.</p><br>
      <div class="container">
        <div class="row">

        	<p dir="rtl" lang="ar" >خطوات المشروع</p><br>

        	<p dir="rtl" lang="ar" > ·  عمل تدريب للعمال على المستوى التقنيه الحرفيه من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه.</p><br>

        	<p dir="rtl" lang="ar" >·   عمل تدريب من خلال المؤسسه على القدره الاداريه و مهارات التعامل مع العملاء.</p><br>

        	<p dir="rtl" lang="ar" >·   استخراج شهاده من المؤسسه ان العامل قام بالتدريب من قبل المؤسسه على القدرات الاداريه تدرج مع الشهاده التى سيحصل عليها العامل من مجلس التدريب الصناعى (هذه شهاده للعميل و ليست شهادة ضمان للعميل فالمؤسسه ليست شركه مسئوله عن اداء العامل و لا تجنى ربح منه و لكن جهه تدريب و تقييم).</p><br>

        	<p dir="rtl" lang="ar" >·   بعد ذلك يكون هناك تواصل مع العملاء و التاكد من التزام العامل بالعمل واخلاقيات العمل ..</p><br>

        	<p dir="rtl" lang="ar" >·   يقوم العامل بابراز بطاقته الشخصيه للتأكد من ان العامل هو من قام باستقبال الاتصال من العميل و يقوم بتقديم استماره للعميل عند انجاز العمل لتقييم العمل من طرف العميل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل .</p><br>

        	<p dir="rtl" lang="ar" >·  نقوم بعد ذلك بتحديث هذا الموقع طبقا لاداء العامل ... من هنا يشعر العامل ان اداءه يقيم و يحاول ان يحافظ على ان يكون مرشح من قبل المؤسسه فيحصل على المزيد من العمل .</p><br>

        	<div class="col-sm-12">
        	<td><img src="http://4.bp.blogspot.com/-dJnDVrrjKqE/UkkmXFNlPeI/AAAAAAAABGc/xiG5uVMj7Jo/s1600/steps.png" width="1200" height="500"></td>
        	</div>

	</div>
  </div>
</div>
