<div class="jumbotron">
	<p><div dir="rtl" lang="ar" style="font-size:18px; color:blue;" >هذا البرنامج هو احد برامج مؤسسة بناء الانسان و التنميه و يهدف الى الارتقاء بمستوى الخدمه التى يحصل عليها المواطن من اعمال تركيبات اوصيانه منزليه لاعمال السباكه والكهرباء من خلال رفع الكفاءه و تأصيل عمل الحرفيين . بدايتا بتدريب تقنى من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه يتبعه تدريب على القدره الاداريه و مهارات التعامل مع العملاء من خلال مؤسسة البناء الانسانى و التنميه ثم نقوم بتحديث هذا الموقع طبقا لاداء العامل من خلال استماره يقوم تقديمها العامل للعميل عند انجاز العمل لتقييم العمل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل على هذا الموقع لضمان استمراريه مستوى الجوده.</div></p><br>
      <div class="container">
        <div class="row">

        	<p dir="rtl" lang="ar" style="color:green;">خطوات المشروع</p><br>

        	<p><div dir="rtl" lang="ar" style="font-size:18px"> ·  عمل تدريب للعمال على المستوى التقنيه الحرفيه من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه.</div></p><br>

        	<p><div dir="rtl" lang="ar" style="font-size:18px" >·   عمل تدريب من خلال المؤسسه على القدره الاداريه و مهارات التعامل مع العملاء.</div></p><br>

        	<p><div dir="rtl" lang="ar" style="font-size:18px" >·   استخراج شهاده من المؤسسه ان العامل قام بالتدريب من قبل المؤسسه على القدرات الاداريه تدرج مع الشهاده التى سيحصل عليها العامل من مجلس التدريب الصناعى (هذه شهاده للعميل و ليست شهادة ضمان للعميل فالمؤسسه ليست شركه مسئوله عن اداء العامل و لا تجنى ربح منه و لكن جهه تدريب و تقييم).</div></p><br>

        	<p><div dir="rtl" lang="ar" style="font-size:18px" >·   بعد ذلك يكون هناك تواصل مع العملاء و التاكد من التزام العامل بالعمل واخلاقيات العمل ..</div></p><br>

        	<p><div dir="rtl" lang="ar" style="font-size:18px" >·   يقوم العامل بابراز بطاقته الشخصيه للتأكد من ان العامل هو من قام باستقبال الاتصال من العميل و يقوم بتقديم استماره للعميل عند انجاز العمل لتقييم العمل من طرف العميل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل .</div></p><br>

        	<p><div dir="rtl" lang="ar" style="font-size:18px" >·  نقوم بعد ذلك بتحديث هذا الموقع طبقا لاداء العامل ... من هنا يشعر العامل ان اداءه يقيم و يحاول ان يحافظ على ان يكون مرشح من قبل المؤسسه فيحصل على المزيد من العمل .</div></p><br>

        	<div dir="rtl" class="col-sm-12">
                <%= link_to 'خريطة العمل', href="http://4.bp.blogspot.com/-dJnDVrrjKqE/UkkmXFNlPeI/AAAAAAAABGc/xiG5uVMj7Jo/s1600/steps.png", :style => "font-size:18px"%>
        	</div>

	</div>
  </div>
</div>
