
<div class="jumbotron">
	<p><div dir="rtl" lang="ar" style="font-size:18px; color:blue;" >هذا البرنامج هو احد برامج مؤسسة بناء الانسان و التنميه و يهدف الى الارتقاء بمستوى الخدمه التى يحصل عليها المواطن من اعمال تركيبات اوصيانه منزليه لاعمال السباكه والكهرباء من خلال رفع الكفاءه و تأصيل عمل الحرفيين . بدايتا بتدريب تقنى من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه يتبعه تدريب على القدره الاداريه و مهارات التعامل مع العملاء من خلال مؤسسة البناء الانسانى و التنميه ثم نقوم بتحديث هذا الموقع طبقا لاداء العامل من خلال استماره يقوم تقديمها العامل للعميل عند انجاز العمل لتقييم العمل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل على هذا الموقع لضمان استمراريه مستوى الجوده.</div></p><br>
      <div class="container">
        <div class="row">
    <!-- Codes by HTML.am -->



<strong><p dir="rtl" lang="ar" style="color:green; font_size:20px;" >للتواصل</p></strong>

<p><div dir="rtl" lang="ar" style="font-size:18px;">
 ·  مؤسسة البناء الانسانى و التنميه
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
المشهره رقم 4011 لسنة 2011
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
  ·  العنوان :
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
 عمارة (ز) الدور الخامس - شقة رقم 6- سيتي مول علي الدين - الحي السابع - مدينة 6 أكتوبر
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
 ·   تليفون :
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
 ·  لاي استفسار يرجى الاتصال بالارقام التاليه :
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
01279221709
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
01227334410
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
 ·   فاكس :
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
39121344 02 2+
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
 ·   البريدالالكتروني :
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
info@hfegypt.org
</div></p>
<p><div dir="rtl" lang="ar" style="font-size:18px;">
thehumanfoundation@yahoo.com
</div></p>
</p>



	</div>
  </div>
</div>