
<div class="jumbotron">
	<p dir="rtl" lang="ar" >هذا البرنامج هو احد برامج مؤسسة بناء الانسان و التنميه و يهدف الى الارتقاء بمستوى الخدمه التى يحصل عليها المواطن من اعمال تركيبات اوصيانه منزليه لاعمال السباكه والكهرباء من خلال رفع الكفاءه و تأصيل عمل الحرفيين . بدايتا بتدريب تقنى من خلال مجلس التدريب الصناعى التابع لوزارة الصناعه يتبعه تدريب على القدره الاداريه و مهارات التعامل مع العملاء من خلال مؤسسة البناء الانسانى و التنميه ثم نقوم بتحديث هذا الموقع طبقا لاداء العامل من خلال استماره يقوم تقديمها العامل للعميل عند انجاز العمل لتقييم العمل و يعيد العامل هذه الستماره للمؤسسه لتقييم جودة اداء العامل على هذا الموقع لضمان استمراريه مستوى الجوده.</p><br>
      <div class="container">
        <div class="row">
    <!-- Codes by HTML.am -->



<strong><p dir="rtl" lang="ar" >للتواصل</p></strong>

<p dir="rtl" lang="ar" >
مؤسسة البناء الانسانى و التنميه
</p>
<p dir="rtl" lang="ar" >
المشهره رقم 4011 لسنة 2011
</p>
<p dir="rtl" lang="ar" >
 العنوان :
</p>
<p dir="rtl" lang="ar" >
عمارة (ز) الدور الخامس - شقة رقم 6- سيتي مول علي الدين - الحي السابع - مدينة 6 أكتوبر
</p>
<p dir="rtl" lang="ar" >
 تليفون :
</p>
<p dir="rtl" lang="ar" >
لاي استفسار يرجى الاتصال بالارقام التاليه :
</p>
<p dir="rtl" lang="ar" >
01279221709
</p>
<p dir="rtl" lang="ar" >
01227334410
</p>
<p dir="rtl" lang="ar" >
 فاكس :
</p>
<p dir="rtl" lang="ar" >
39121344 02 2+
</p>
<p dir="rtl" lang="ar" >
 البريدالالكتروني :
</p>
<p dir="rtl" lang="ar" >
info@hfegypt.org
</p>
<p dir="rtl" lang="ar" >
thehumanfoundation@yahoo.com
</p>
</p>



	</div>
  </div>
</div>