<div class="jumbotron">
      <div class="container">
        <div class="row">
          <title>Add Worker</title>
<html><head>
<meta charset="utf-8">
<title>User Order Form</title>
</head>
<body>
<form id="2">
  <p class="colorblue" style="color: hsla(211,70%,42%,1)">Please enter your name:
    <input type="text">
  </p>
  <p class="colorblue" style="color: hsla(211,70%,42%,1)">Please enter your Mobile number:
    <input type="tel">
  </p>
  <p class="colorblue" style="color: hsla(211,70%,42%,1)">Please enter your Email:
    <input type="email">
  </p>
  </form>
  <input type="submit" value="Submit the form">
</body></html>
    </body></html>
  </div>
</div>