<div class="jumbotron">
      <div class="container">
        <div class="row">
<h1>Editing worker</h1>

<div class="col-sm-5">
<%= render 'form' %>
</div>
<%= link_to 'Show', @worker %> |
<%= link_to 'Back', workers_path %>

		</div>
	</div>
</div>