<div class="jumbotron">
      <div class="container">
        <div class="row">
        	<title>Add Worker</title>
<body> 
<h1 dir="rtl" lang="ar"  style = "color:green;">إضافة عامل</h1><br>

<%= render 'form' %>

<%= link_to 'الرجوع', workers_path, :style => "color:blue;" %>

		</body></html>
	</div>
</div>